@import '../../scss/main.scss';

.certificate {
  min-height: 100vh;
  background-color: $primary-color;

  .container {
    max-width: $max-width;
    padding: 0 10rem;
    margin: 0 auto;

    .main {
      @include display-flex-center;
      flex-direction: column;
      row-gap: 9rem;
      padding-bottom: 9rem;

      .title {
        width: 100%;
        max-width: 50rem;
      }

      .picture {
        width: 100%;
        max-width: 80rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .certificate {
    .container {
      padding: 0 5rem;
    }
  }
}

@media (max-width: 500px) {
  .certificate {
    .container {
      padding: 0 2.5rem;

      .main {
        row-gap: 3.5rem;
        padding-bottom: 5rem;

        .title {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
