@import '../scss/main.scss';

.contact {
  min-height: 100vh;
  background-color: $tertiary-color;
  overflow-x: hidden;

  .container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 10rem 10rem 10rem;

    .main {
      margin: 15rem 12rem 0 12rem;
      background-color: $secondary-color;
      @include display-flex-center;
      padding: 12.3rem;
      box-shadow: 0 0.4rem 6rem rgba(0, 0, 0, 0.05);
      border-radius: 15rem 5rem 15rem 15rem;
      position: relative;

      .contact-me {
        position: absolute;
        left: calc(50% - 25rem);
        top: -18rem;
      }

      .content {
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        font-weight: 600;
        font-size: 3rem;
        color: #000;
      }

      .right-bubble {
        position: absolute;
        right: -13rem;
        top: 6rem;
        width: 18.8rem;
        height: 18.8rem;
        background-color: $primary-color;
        border-radius: 8% 50% 50% 50%;
      }

      .left-bubble {
        position: absolute;
        left: -12rem;
        bottom: 1.7rem;
        width: 18.8rem;
        height: 18.8rem;
        background-color: $primary-color;
        border-radius: 50% 8% 50% 50%;
      }
    }
  }
}

@media (max-width: 1250px) {
  .contact {
    .container {
      .main {
        margin-right: 5rem;
        margin-left: 5rem;

        .content {
          font-size: 2.8rem;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .contact {
    .container {
      @include display-flex-center;
      min-height: calc(100vh - 50rem);

      .main {
        margin-right: 0;
        margin-left: 0;
        padding: 10rem;
        border-radius: 10rem 5rem 10rem 10rem;

        .content {
          font-size: 2.1rem;
          row-gap: 4rem;
        }

        .right-bubble,
        .left-bubble {
          width: 16rem;
          height: 16rem;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .contact {
    .container {
      padding-right: 5rem;
      padding-left: 5rem;

      .main {
        padding: 7.5rem;

        .contact-me {
          width: 40rem;
          left: calc(50% - 20rem);
        }

        .content {
          font-size: 1.5rem;
        }

        .right-bubble {
          right: -10rem;
        }
      }
    }
  }
}
