@import '../../scss/main.scss';

.nav-bar {
  .nav-container {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.5rem 10rem;
    margin-bottom: -0.1rem;

    .nav-left {
      .nav-name {
        font-style: italic;
        font-weight: 600;
        font-size: 2.8rem;
        line-height: 130%;
        color: #fff;
        text-decoration: none;

        .nav-bold {
          font-weight: 800;
        }
      }
    }

    .nav-right {
      @include display-flex-between;
      font-weight: 800;
      font-size: 1.8rem;
      color: rgba(250, 250, 250, 0.8);
      width: 50rem;
      margin-left: 5rem;

      .nav-link {
        text-decoration: none;
        color: currentColor;
        padding-bottom: 0.5rem;
        border-bottom: 0.2rem solid transparent;
        margin-top: 0.5rem;
        z-index: 2;

        &:hover {
          border-bottom: 0.2rem solid currentColor;
        }
      }
    }

    .nav-menu {
      display: none;
    }
  }

  .nav-sidebar {
    display: none;
    transform: translateX(25rem);
    transition: transform 0.2s ease;
  }
}

@media (max-width: 750px) {
  .nav-bar {
    .nav-container {
      padding: 5.5rem 5rem;

      .nav-left {
        .nav-name {
          font-size: 2.2rem;
        }
      }

      .nav-right {
        font-size: 1.6rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .nav-bar {
    .nav-container {
      padding: 3.5rem 2.5rem 3.5rem 3rem;

      .nav-left {
        .nav-name {
          font-size: 2rem;
        }
      }

      .nav-right {
        display: none;
      }

      .nav-menu {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        row-gap: 0.675rem;
        padding: 0.5rem;
        z-index: 3;

        &:hover {
          cursor: pointer;
        }

        &__line {
          background-color: #fff;
          height: 0.25rem;
          border-radius: 1rem;
          transition: all 0.2s ease;

          &.top {
            width: 1.5rem;
          }

          &.middle {
            width: 2.25rem;
          }

          &.bottom {
            width: 1rem;
          }
        }

        &.active {
          row-gap: 0;

          .nav-menu__line {
            &.top {
              width: 2rem;
              transform: translateY(0.125rem) rotate(135deg);
            }

            &.middle {
              width: 0;
              height: 0;
              transition: all 0.05s ease;
            }

            &.bottom {
              width: 2rem;
              transform: translateY(-0.125rem) rotate(-135deg);
            }
          }
        }
      }
    }

    .nav-sidebar {
      position: fixed;
      right: 0;
      top: 0;
      height: 100vh;
      width: 25rem;
      padding-top: 10rem;
      padding-right: 2.5rem;
      font-weight: 800;
      color: #fff;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      row-gap: 2rem;
      z-index: 2;
      font-size: 2rem;

      &.active {
        transform: translateX(0);
      }

      &__link {
        text-decoration: none;
        color: currentColor;
        padding: 0.5rem;
      }
    }
  }
}
